body {
    border: solid 2px black;
}

header {
    border: solid 2px black;
}

.navbar {
    display: inline-block;
    border: solid 2px black;
}

button {
    border: solid 2px black;
}

main {
    border: solid 2px black;
}

.name {
    border: solid 2px blue;
}

.text_title {
    border: solid 2px blue;
}

.text_subtitle {
    border: solid 2px blue;
}

.text_item {
    border: solid 2px blue;
}

.tiny_text {
    border: solid 2px blue;
}

img {
    border: solid 2px black;
}

#menu_section, #games_section, #staff_section {
    display: none;
}
