body {
    border: solid 2px black;
    box-sizing: border-box;
}

header {
    border: solid 2px black;
}

.navbar {
    display: inline-block;
    border: solid 2px black;
    position: fixed;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border: solid 2px black;
}

main {
    border: solid 2px black;
    margin: 7vh;
}

.name {
    border: solid 2px blue;
    text-align: center;
}

.text_title {
    border: solid 2px blue;
    text-align: center;
}

.text_subtitle {
    border: solid 2px blue;
    text-align: center;
}

.text_item {
    border: solid 2px blue;
    text-align: center;
}

.tiny_text {
    border: solid 2px blue;
    font-size: 1vh;
}

img {
    border: solid 2px black;
    height: 25vh;
    width: 25vh;
    height-min: 25vw;
    width-min: 25vw;
    margin: auto;
}

#menu_section, #games_section, #staff_section, #more_section {
    display: none;
}
